.ev .interface>label {
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.ev {
    display: flex;
    flex-direction: column;
}

.ev .interface {
    display: flex;
    flex-direction: column;
}

.ev .inputs>label {
    margin-top: 20px;
}

.ev .outputs>label {
    margin-top: 50px;
}

.ev .symbol {
    display: flex;
    position: relative;
    align-items: center;
}

.ev .symbol>span {
    font-weight: normal;
    position: absolute;
    color: black;
    font-size: 1.5em;
    color: rgb(125, 50, 155);
    pointer-events: none;
}

.ev .currency>span {
    left: 0.55em;
}

.ev .odd>span {
    right: 0.55em;
}

.ev .currency>input {
    padding-left: 1.6em;
}

.ev .odd>input {
    padding-left: 0.5em;
    padding-right: 1.6em;
}

.ev .interface input {
    height: 2em;
    font-size: 1.5em;
    flex: 1;
    max-width: 100%;
    border-radius: 5px;
    border: 2px solid rgb(54, 9, 73);
    color: rgb(125, 50, 155);
    background-color: whitesmoke;
}

.ev .interface input:focus {
    outline: rgb(231, 73, 99) auto 2px;
}

.ev button {
    height: 2em;
    color: whitesmoke;
    font-size: 1.5em;
    background-color: rgb(54, 9, 73);
    border: 2px solid rgb(54, 9, 73);
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.ev button:focus {
    outline: rgb(231, 73, 99) auto 2px;
}

.ev button:active {
    background-color: rgb(231, 73, 99);
    transform: translateY(5px);
}

/*Modern Mobile*/
@media only screen and (min-width: 520px) {
    .ev .outputs {
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
    }

    .ev .inputs {
        align-items: flex-start;
    }

    .ev .outputs>label {
        margin-right: 10px;
    }

    .ev .interface input {
        max-width: 400px;
    }

    .ev button {
        flex: 1;
        margin-left: 10px;
        max-width: 200px;
    }
}

/*Desktop view*/
@media only screen and (min-width: 1024px) and (min-height: 500px) {
    .ev .outputs {
        justify-content: start;
    }
}