@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: rgb(99, 0, 138);
    flex: 1;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hidden {
    visibility: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(99, 0, 138);
}

::-webkit-scrollbar-track {
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: rgb(231, 73, 99);
    border-radius: 10px;
}

::selection {
    color: rgb(231, 73, 99);
    background-color: rgb(99, 0, 138);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.explanation {
    margin-top: 30px;
    padding: 20px;
    max-width: 1024px;
}

.explanation>h1 {
    font-size: 1.6em;
    margin: 15px 0px;
}

.explanation>p {
    font-size: 1.1em;
    line-height: 1.4em;
    margin-bottom: 7px;
}

/*Modern Mobile*/
@media only screen and (min-width: 520px) {
    .content {
        margin-top: 5.5em;
    }
}

/*Desktop view*/
@media only screen and (min-width: 1024px) and (min-height: 500px) {
    .content {
        margin-top: 0;
        margin-left: 5.5em;
    }
}