@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Muli', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

#root {
    min-height: 200vh;
    display: flex;
}

.content {
    background-color: rgb(99, 0, 138);
    width: 100%;
}

@media only screen and (min-height: 500px){
    .content {
        margin-left: 5.5em;
    }
}

.hidden {
    visibility: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(99, 0, 138);
}

::-webkit-scrollbar-track {
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: rgb(231, 73, 99);
    border-radius: 10px;
}

::selection {
    color: rgb(231, 73, 99);
    background-color: rgb(99, 0, 138);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}